/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*gradient buttons: hsl(198, 60%, 50%) e hsl(176, 68%, 64%)*/
body {
  background: #1c2431;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 5% 0% 5%;
  background: #1c2431;
}

.logo {
  width: 10%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.menu-options {
  padding-left: 50px;
}

.menu-options a {
  text-decoration: none;
  color: white;
}

.intro {
  text-align: center;
  background: url("images/bg-curvy-desktop.svg") no-repeat #1c2431;
  background-position: center bottom 0px;
  background-size: 100% 36%;
  padding-bottom: 8%;
  width: 100%;
}

.intro .intro__img {
  width: 35%;
  margin-top: 3%;
}

.intro .intro__title {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 700;
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
  line-height: 120%;
}

.intro .intro__paragraph {
  padding-top: 1%;
  width: 30%;
  margin: 0 auto;
  line-height: 150%;
}

.button {
  background: linear-gradient(150deg, #65e2d9 0%, #339ecc 100%);
  border: none;
  border-radius: 25px;
  padding: 12px 65px 12px 65px;
  color: white;
  margin-top: 2%;
  cursor: pointer;
}

.sections {
  background: #181f2a;
}

.block__one {
  margin: 0 auto;
  padding-top: 7%;
  width: 57%;
  text-align: center;
}

.block__one .service__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.block__one .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__one .second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15%;
}

.block__one .service__two .icon__service {
  width: 16%;
}

.block__one .service__one, .block__one .service__three {
  margin-right: 5%;
}

.block__one .service__one .icon__service, .block__one .service__three .icon__service {
  margin-bottom: 7%;
}

.block__one .service__one .service__paragraph, .block__one .service__three .service__paragraph {
  margin-top: 2%;
  line-height: 150%;
}

.block__one .service__two, .block__one .service__four {
  margin-left: 5%;
}

.block__one .service__two .icon__service, .block__one .service__four .icon__service {
  margin-bottom: 7%;
}

.block__one .service__two .service__paragraph, .block__one .service__four .service__paragraph {
  margin-top: 2%;
  line-height: 150%;
}

.block__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 14% 10% 0% 10%;
}

.block__two .productive__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  width: 80%;
  line-height: 125%;
  padding-top: 20%;
}

.block__two .productive__paragraph {
  padding-top: 5%;
  line-height: 150%;
}

.block__two .column__two {
  padding-left: 5%;
}

.block__two .fylo__link {
  padding-top: 5%;
}

.block__two .fylo__link a {
  color: #5f9a9c;
}

.block__two .fylo__link .icon__arrow {
  width: 3%;
}

.block_three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #181f2a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("images/bg-quotes.png") no-repeat;
  background-position: 160px 125px;
  padding: 10% 0% 22% 0%;
}

.block_three .testimonial__one, .block_three .testimonial__two, .block_three .testimonial__three {
  background-color: #202a3c;
  padding: 40px 25px 40px 25px;
  width: 20%;
  margin: 20px;
}

.block_three .testimonial__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block_three .testimonial__paragraph {
  line-height: 130%;
  padding-bottom: 7%;
}

.block_three .testimonial__person {
  padding-left: 4%;
  width: 80%;
}

.block_three .testimonial__person .testimonial__name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 2%;
}

.block_three .testimonial__person .testimonial__profession {
  font-size: 12px;
}

.block_three .testimonial__avatar {
  width: 13%;
  border-radius: 50%;
}

.block__three {
  position: relative;
  z-index: 2;
}

.form {
  background-color: #1c2431;
  position: absolute;
  z-index: 100;
  text-align: center;
  padding: 4%;
  left: 22%;
  top: 355%;
  width: 48%;
  border-radius: 10px;
  -webkit-box-shadow: 6px 4px 7px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 4px 7px -4px rgba(0, 0, 0, 0.75);
}

.form .form__title {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 3%;
}

.form .form__paragraph {
  line-height: 170%;
  margin-bottom: 5%;
}

.form .form__input {
  border-radius: 25px;
  border: none;
  width: 400px;
  height: 45px;
  margin-right: 15px;
}

.form .form__input:focus {
  outline: none;
}

.form .form__input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
}

.form .form__input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
}

.form .form__input::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
}

.form .form__input::placeholder {
  font-family: "Open Sans", sans-serif;
}

.form .form__button {
  background: linear-gradient(150deg, #65e2d9 0%, #339ecc 100%);
  border: none;
  border-radius: 25px;
  padding: 16px 35px 16px 35px;
  color: white;
  margin-top: 2%;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

input[type=text] {
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
}

footer {
  position: relative;
  background-color: #0b1523;
  z-index: 0;
  padding-top: 18%;
  padding-left: 8%;
  padding-bottom: 10%;
}

footer .first-column {
  width: 25%;
  margin-right: 5%;
}

footer .first-column .footer__paragraph {
  line-height: 150%;
}

footer .first-column .footer__location {
  margin-top: 8%;
}

footer .first-column .location {
  height: 2%;
  margin-right: 6%;
}

footer .footer__info, footer .footer__location, footer .footer__two, footer .footer__three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .second-column {
  margin-top: 6.2%;
}

footer .second-column img {
  margin-right: 10%;
}

footer .second-column .footer__two {
  margin-bottom: 15%;
}

footer .third-column, footer .fourth-column, footer .fifth-column {
  margin-left: 8%;
  margin-top: 5%;
}

footer .third-column li, footer .fourth-column li, footer .fifth-column li {
  margin-top: 25%;
}

footer .third-column a, footer .fourth-column a, footer .fifth-column a {
  text-decoration: none;
  color: white;
}

footer .fifth-column {
  width: 20%;
}

footer .social {
  border: 1px solid #fff;
  padding: 6%;
  border-radius: 50%;
  margin-right: 5%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */