@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$bg-intro: hsl(217, 28%, 15%);
$bg-main: hsl(218, 28%, 13%);
$bg-footer: hsl(216, 53%, 9%);
$bg-testimonials: hsl(219, 30%, 18%);
$bg-singup: hsl(217, 28%, 15%);
$text-color: hsl(0, 0%, 100%);
$text-font: 'Open Sans', sans-serif;
$heading-font: 'Raleway', sans-serif;
$gradient-button: linear-gradient(150deg, rgba(101,226,217,1) 0%, hsl(198, 60%, 50%) 100%);

body {
    background: $bg-intro;
    
    font: {
        size: 1rem;
        family: $text-font;
    }
    color: $text-color;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 0% 5%;
    background: $bg-intro;
}

.logo {
    width: 10%;

    @media only screen and (max-width: 600px)  {
        width: 20%;
    }
}

.menu {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.menu-options {
    padding-left: 50px;

    a {
    text-decoration: none;
    color: $text-color;
    }
}

.intro {
    text-align: center;
    background: url('images/bg-curvy-desktop.svg') no-repeat $bg-intro;
    background-position: center bottom 0px;
    background-size: 100% 36%;
    padding-bottom: 8%;
    width: 100%;

    @media only screen and (max-width: 600px)  {
        margin-top: 6%;
    }

    .intro__img {
        width: 35%;
        margin-top: 3%;

        @media only screen and (max-width: 600px)  {
            width: 70%;
            margin-top: 6%;
        }
    }

    .intro__title {
        font: {
            family: $heading-font;
            size: 35px;
            weight: 700;
        }
        width: 50%;
        margin: 0 auto;
        margin-top: 2%;
        line-height: 120%;

        @media only screen and (max-width: 600px)  {
            width: 90%;
            margin-top: 6%;
        }
    }

    .intro__paragraph {
        padding-top: 1%;
        width: 30%;
        margin: 0 auto;
        line-height: 150%;

        @media only screen and (max-width: 600px)  {
            width: 70%;
            margin-top: 3%;
        }
    }
}

.button {
    background: $gradient-button;
    border: none;
    border-radius: 25px;
    padding: 0.9rem 4rem;
    color: $text-color;
    margin-top: 2%;
    cursor: pointer;

    @media only screen and (max-width: 600px)  {
        margin-top: 7%;
    }
}

.sections {
    background: $bg-main;
}

.block__one {
    margin: 0 auto;
    padding-top: 7%;
    width: 57%;
    text-align: center;

    @media only screen and (max-width: 600px)  {
       width: 70%;
    }

    .service__title {
        font: {
            family: $heading-font;
            weight: 700;
        }
    }

    .first-row {
        display: flex;

        @media only screen and (max-width: 600px)  {
            flex-direction: column;
        }
    }

    .second-row {
        display: flex;
        padding-top: 15%;

        @media only screen and (max-width: 600px)  {
            padding-top: 0%;
            flex-direction: column;
        }
    }

    .service__two {
        .icon__service {
            width: 16%;
            
            @media only screen and (max-width: 600px)  {
                width: 18%;
            }
        }
    }

    .service__one, .service__three {

        @media only screen and (max-width: 600px)  {
            margin-right: 0%;
            margin-top: 20%;
        }

        .icon__service {
            margin-bottom: 7%;
        }

        .service__paragraph {
            margin-top: 2%;
            line-height: 150%;

            @media only screen and (max-width: 600px)  {
                margin-top: 6%;
            }
        }
    }

    .service__two, .service__four {
        margin-left: 5%;

        @media only screen and (max-width: 600px)  {
            margin-left: 0%;
            margin-top: 15%;
        }

        .icon__service {
            margin-bottom: 7%;
        }

        .service__paragraph {
            margin-top: 2%;
            line-height: 150%;

            @media only screen and (max-width: 600px)  {
                margin-top: 6%;
            }
        }
    }
}


.block__two {
    display: flex;
    margin: 0 auto;
    padding: 14% 10% 0% 10%;

    @media only screen and (max-width: 600px)  {
        flex-direction: column;
        margin-top: 6%;
    }

    .column__one {
        .productive__img {
            @media only screen and (max-width: 600px)  {
                width: 100%;
        }
    }
}

    .productive__title {
        font: {
            family: $heading-font;
            weight: 700;
            size: 40px;
        }
        width: 80%;
        line-height: 125%;
        padding-top: 20%;

        @media only screen and (max-width: 600px)  {
            width: 100%;

        }
    }

    .productive__paragraph {
        padding-top: 5%;
        line-height: 150%;
    }

    .column__two {
        padding-left : 5%;
    }

    .fylo__link {
        padding-top: 5%;

        a {
            color: rgb(95,154,156);
        }

        .icon__arrow {
           width: 3%;
        }
    }
}

.block_three {
    display: flex;
    background-color: $bg-main;
    justify-content: center;
    background: url("images/bg-quotes.png") no-repeat;
    background-position:
    160px 125px;
    padding: 10% 0% 20% 0%; 

    @media only screen and (max-width: 600px)  {
        flex-direction: column;
        margin-top: 6%;
        background-position:
        50px 50px;
        padding: 10% 0% 55% 0%; 
    }

    .testimonial__one, .testimonial__two, .testimonial__three {
        background-color: $bg-testimonials;
        padding: 40px 25px 40px 25px;
        width: 20%;
        margin: 20px;

        @media only screen and (max-width: 600px)  {
            width: 70%;
            margin: 6% auto;
        }
    }

    .testimonial__info {
        display: flex;
    }

    .testimonial__paragraph {
        line-height: 130%;
        padding-bottom: 7%;

        @media only screen and (max-width: 600px)  {
            line-height: 190%;
        }
    }

    .testimonial__person {
        padding-left: 4%;
        width: 80%;

        .testimonial__name {
            font: {
                family: $text-font;
                weight: 700;
            }
            margin-bottom: 2%;
        }

        .testimonial__profession {
            font-size: 12px;
        }
    }

    .testimonial__avatar {
        width: 13%;
        border-radius: 50%;
    }
}

.container-form {
    background-color: $bg-main;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    background: transparent;
    transform: translateY(-10rem);

    @media only screen and (max-width: 600px)  {
        transform: translateY(-13rem)
    }

}

.form {
    background-color: $bg-singup;
    text-align: center;
    padding: 4%;
    width: 48%;
    border-radius: 10px;
    box-shadow: 6px 4px 7px -4px rgba(0,0,0,0.75);

    @media only screen and (max-width: 600px)  {
        width: 70%;
        padding: 8%;
        margin: 0 auto;
    }

    .form__title {
        font: {
            family: $heading-font;
            size: 2.5rem;
            weight: 700;
        }

        margin-bottom: 3%;

        @media only screen and (max-width: 600px)  {
            font-size: 1.2rem;
            margin-bottom: 6%;
        }
    }

    .form__paragraph {
        line-height: 170%;
        margin-bottom: 5%;

        @media only screen and (max-width: 600px)  {
            width: 90%;
            margin: 7% auto;
        }
    }

    .form__input {
        border-radius: 25px;
        border: none;
        width: 400px;
        height: 45px;
        margin-right: 15px;

        @media only screen and (max-width: 600px)  {
            width: 70%;
        }
        
        &:focus {
            outline: none;
        }
        &::placeholder {
            font-family: $text-font;
        }
    }

    .form__button {
    background: $gradient-button;
    border: none;
    border-radius: 25px;
    padding: 1rem 2.1rem;
    color: $text-color;
    margin-top: 2%;
    letter-spacing: 0.5px;
    cursor: pointer;
    font: {
        weight: 700;
        size: 14px;
        }

        @media only screen and (max-width: 600px)  {
            padding: 1rem 4.3rem;
            margin-top: 8%;
        }
    }


}

input[type=text] {
    padding-left: 30px;
    font-family: $text-font;
}

footer {
    background-color: $bg-footer;
    padding-top: 16%;
    padding-left: 8%;
    padding-bottom: 8%;

    @media only screen and (max-width: 600px)  {
        padding-top: 50%;
    }

    .first-column {
        width: 25%;
        margin-right: 5%;

        @media only screen and (max-width: 600px)  {
            width: 80%;
        }

        .footer__paragraph {
            line-height: 150%;
        }

        .footer__location {
            margin-top: 8%;
        }

        .location {
            height: 2%;
            margin-right: 6%;
        }
    }

    .footer__info, .footer__location, .footer__two, .footer__three {
        display: flex;
    }

    .footer__info {
    @media only screen and (max-width: 600px)  {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
}

    .second-column {
        margin-top: 6.2%;

        @media only screen and (max-width: 600px)  {
            margin-top: 6%;
        }

        img {
            margin-right: 10%;

            @media only screen and (max-width: 600px)  {
                margin-right: 4%;
            }
        }

        .footer__two {
            margin-bottom: 15%;
        }
    }

    .third-column, .fourth-column, .fifth-column {
        margin-left: 8%;
        margin-top: 5%;

        li {
            margin-top: 25%;

            @media only screen and (max-width: 600px)  {
                margin-top: 5%;
            }
        }

        a {
            text-decoration: none;
            color: $text-color;
        }
    }

    .fifth-column { 
        width: 20%;

        @media only screen and (max-width: 600px)  {
            padding-top: 5%;
            width: 50%;
        }
    }

    .social {
        border: 1px solid #fff;
        padding: 6%;
        border-radius: 50%;
        margin-right: 5%;

    }

    .facebook {
       padding: 6% 7%;
    }

     .credits {
         margin-top: 5%;
         a {
        text-decoration: none;
        color: $text-color;

            &:hover {
                text-decoration: underline;
            }
        }
        }

}
